# Do not share this key with anyone (do not uncomment if you want a new key generated for you)
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=do2*^f&jj%4y^pp4u*w68(xr=nca%7-ix@ihaiv7spol&ov8wv

# Change those values as you wish
REFRESH_TOKEN_SECRET_KEY=i255$@gu490u(*RYYQ*(OFHIAT*OL
ACCESS_TOKEN_SECRET_KEY=t@24iaFPowaafwkoawf;oa%Oadoaw

# Default durations
REFRESH_TOKEN_DURATION=14d
ACCESS_TOKEN_DURATION=15m

# TODO: fix timezones
TZ=America/Toronto

# Must be set to False in production (setting this value to true is recommended in development for debugging purposes)
DEBUG=True

# Do not touch this setting if not in debug
# ADMINS=enric:dummyemail@gmail.com mathis:thisisanemail@gmail.com

# Hosts from where you can connect to the server (for example, if you put localhost in here you can access the server with localhost:8000)
ALLOWED_HOSTS=24.202.54.51 localhost 192.168.0.163 70.81.88.205 192.168.0.9

# Do not touch those settings if you do not have redis installed on your machine
REDIS_SERVER=False
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Python project path
PYTHONPATH=./backend