{% include "base.html" %}
{% load static %}
{% load profile %}

<link rel="stylesheet" type="text/css" href="{% static 'css/classroom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">


<div id="main-div">
    <div id="classroom-banner" class="container" style="position: relative; max-width: 100%;">
        <div class="row">
            <div id="classroom-title" class="col-lg">
                <h2>{{ classroom.name }}</h2>
                <h5><span class="badge badge-primary">Professeur</span> {{ classroom.creator.first_name }},
                    {{classroom.creator.last_name }}</h5>
            </div>
            <div id="classroom-buttons" class="col-lg">
                {% if user|isStudent %}
                <a href="/classroom/{{classroom.id}}/leave" id="leave-classroom" class="badge badge-danger">Quitter la
                    classe</a>
                {% elif user == classroom.creator.user %}
                <div>
                    <a href="#" id="add-students" class="badge badge-success" data-toggle="modal"
                        data-target="#invite-modal">Ajouter des
                        étudiants</a>
                </div>
                <div>
                    <a href='/classroom/{{classroom.id}}/delete' id="delete-classroom"
                        class="badge badge-danger">Supprimer la classe</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div id="classroom-content" class="container" style="position: relative; max-width: 100%;">
        <div class="dashboard-sub-header">
            <div>
                <h1>Mes cours</h1>
            </div>
            <div class="mes-classes-body container-fluid">
                <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                    {% if classroom.courses.all|length == 0 %}
                    <p style="font-size: 18px; margin: auto;">
                        Tu ne possèdes aucun cours, <a href="{% url 'home:create_course' %}">créer un
                            cours?</a>
                    </p>
                    {% else %}
                    {% for course in classroom.courses.all %}
                    <div class="col-sm">
                        {% include "modules/course_card.html" %}
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="row">
            <div id="classroom-details" class="col-lg">
                <div id="classroom-details-header" class="classroom-content-header">
                    <h2>Détails</h2>
                </div>
                <div id="classroom-details-body" class="classroom-content-body">
                    <span class="badge badge-primary">Matière</span>
                    <p>{{ classroom.get_subject_display }}</p>
                    <span class="badge badge-primary">Description</span>
                    <p>
                        {% if classroom.description != "" %}
                        {{classroom.description}}
                        {% else %}
                        Classe de {{classroom.get_subject_display}}
                        {% endif %}
                    <p>
                </div>
            </div>
            <div id="classroom-students" class="col-lg">
                <div id="classroom-students-header" class="classroom-content-header">
                    <h2>Liste d'élèves</h2>
                </div>
                <div id="classroom-students-body" class="classroom-content-body">
                    {% if classroom.students.all|length == 0 %}
                    <p>Il n'y a aucun élève dans cette classe</p>
                    {% else %}
                    {% for student in classroom.students.all %}
                    {% include "modules/student_card.html" %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% if user|isProfessor %}
<div class="modal fade bd-example-modal-lg" id="invite-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inviter des élèves</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Donnez ce code au élève afin qu'ils puissent rejoindre la classe depuis le site!
                <br>
                <br>
                <div class="alert alert-success" style=" text-align: center; font-size: 300%" role="alert">
                    {{ classroom.code }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">C'est compris!</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
