{% include "base.html" %} {% load static %} {% load profile %} {% load learning %}

<link rel="stylesheet" type="text/css" href="{% static 'css/course.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">
<script type="text/javascript" src="{% static 'js/course.js' %}"></script>

<div id="main-div" class="container-fluid" style="position: relative; max-width: 100%">
  <div class="row h-100">
    <div id="sections-container" class="container col-2">
      <div id="course-title" class="container-fluid">
        <h3 class="title">
          {{ course.name }}
        </h3>
      </div>
      <div id="section-bloc">
        {% for section in course.section_set.all %}

        <div class="container w-100 section-folder" id="sectionDiv{{section.id}}">
          <div class="container w-100 section-tab">
            <p>
              {{ section.name }}
            </p>
          </div>
          {% for activity in section.activity_set.all %}

          <div href="{% url 'home:enter_activity' id=course.id sectionName=section.name activityName=activity.name %}"
            class="container w-100 activity-tab" value="{% url 'home:enter_course' id=course.id activityToPlay=activity.id %}" id="activityDiv{{activity.id}}">
            <p id="activity-name">
              {{ activity.name }}
              {% with activityProgression=activity|get_progression:request.user %}
              {% if activityProgression.state is None %}
              {% if activity.starting_state == "locked" %}
              <span id="activity-progression-state-locked">
                {{ activity.get_starting_state_display }}
              </span>
              {% endif %}
              {% elif activityProgression.state == "locked" %}
              <span id="activity-progression-state-locked">
                {{activityProgression.get_state_display}}
              </span>
              {% endif %}
              {% endwith %}
            </p>
          </div>

          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-10">
      <div id="activity-container" class="container-fluid"></div>
    </div>
    <div style="right: 0; position: absolute">
      <div class="container-fluid">
        <button data-toggle="modal" data-target="#invite-modal" style="color: white" class="btn-info">
          Infos
        </button>

        {% if user|is:course.creator %}
        <button onclick="window.location=`{% url 'home:edit_course' id=course.id %}`" style="color: white"
          class="btn-info">
          Edit
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="invite-modal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="exampleModalLabel">Infos sur ce cours</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><span class="badge">Créateur </span> {{ course.creator.first_name }} {{ course.creator.last_name }}</p>
        <p><span class="badge">Code</span> {{ course.code }}</p>
        <p><span class="badge">Sujet</span> {{ course.get_subject_display }}</p>
        <p><span class="badge">Difficulté</span> {{ course.get_difficulty_display }}</p>
        <p><span class="badge">Accès</span> {{ course.get_access_display }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          C'est compris!
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  //Section qui sera ouverte au depart
  let sectionId = null
  let thisActivityId = null
  let chosenActivityId = "{{chosenActivity}}"
  {% for section in course.section_set.all %}
    {% for activity in section.activity_set.all %}
      // Si pas choisi d'activite
      {% with activityProgression=activity|get_progression:request.user %}
        {% if activityProgression.state != "locked" and not chosenActivity %}
          sectionId = "{{section.id}}"
        // Si on a choisi une activite
        {% elif chosenActivity %}
          thisActivityId = "{{activity.id}}"
          if (thisActivityId == chosenActivityId)
            sectionId = "{{section.id}}"
        {% endif %}
      {% endwith %}
    {% endfor %}
  {% endfor %}

  $(".section-folder").click(function (e) {
    $(this).find(".activity-tab").toggleClass("show");
  });
  
  let refresh = false
  $(".activity-tab").click(function (e) {
    e.stopPropagation();
    const data = {'csrfmiddlewaretoken': csrftoken}
    const url = $(this).attr("href")
    const urlRefresh = $(this).attr("value")

    if (refresh)
      window.location.href = `${location.protocol}//${location.host}${urlRefresh}`
    else {
      $.ajax({
        type: "POST",
        url,
        data,
        success : function(data) {
          $('#activity-container').html(data)
        }  
      });
      refresh = true
    }
  });

  {% if chosenActivity %}
    $("#activityDiv{{chosenActivity}}").click()
  {% endif %}

  if(sectionId != null)
    $(`#sectionDiv${sectionId}`).click()
</script>