{% include 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

<div id="main-div" class="container" style="max-width: 100%;">
    <div id="buttons" class="row">
        <div>
            <div id="button1" class="menu-button"
                onclick="location.href=`{% url 'home:register_student'%}{% if request.GET.next is not None %}?next={{ request.GET.next }}{% endif %}`">
                <div class="padded-button">
                    <div class="logo-button">
                        <div style='background-image: url(" {% static "images/icons/student.png" %} ");'></div>
                    </div>
                    <div class="text-button">
                        <div>Compte étudiant</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="button1" class="menu-button"
                onclick="location.href=`{% url 'home:register_professor'%}{% if request.GET.next is not None %}?next={{ request.GET.next }}{% endif %}`">
                <div class="padded-button">
                    <div class="logo-button">
                        <div style='background-image: url(" {% static "images/icons/teacher.png" %} ");'></div>
                    </div>
                    <div class="text-button">
                        <div>Compte professeur</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
