@import "../main.css";


main {
    display: grid;
    grid-template-areas: 
    "table content content content"
    "table content content content"
    "table content content content"
    "table content content content";
    position: relative;
}

#content {
    padding-left: 2rem;
    grid-area: content;
}

#table-of-content {
    background-color: var(--primary-color);
    grid-area: table;
}

#table-of-content #title {
    height: inherit;
}

#table-of-content #section {
    height: 10%;
}
