{% include "base.html" %} {% include "playground/base.html" %}

<style>
    .row div[class^=col] {
        background-color: #2f3028;
    }

    #blocs-interface-div {
        overflow: auto;
        box-sizing: border-box;
        border: 4px solid #202020;
    }

    #converter {
        background-color: white;
    }

    .bloc {
        height: 50px;
        width: 100%;
        background-color: yellow;
        margin-top: 10px;
        text-align: center;
    }

    .bloc label {
        text-align: center;
        justify-content: center;
    }
</style>

{% load static %}
<div class="container-fluid" style="position: relative; max-width: 100%;">
    <div class="row h-100">
        <div class="col-6" style="resize: both; padding:0; display: flex; flex-flow: column;">
            <div style="flex: 0 1 70px; background-color: #2f3028; border: 1px solid #202020;">
                <div id="go-back-button" class="btn btn-primary" onclick="location.href=`code`">
                    Programmation en code</div>
                <img style="cursor: pointer;" src="{% static 'images/questionMark.png' %}" width="40px"
                    alt="question-mark" class="img-thumbnail" data-toggle="modal" data-target="#modal-hint">
            </div>
            {% include "modules/blocs_interface.html" %}
        </div>
        <div class="col-6" style="resize: both">
            <div class="row" id="simulation-row" style="height:40%;">
                {% include "modules/simulation.html" %}
            </div>
            <div class="row" style="height:20%">
                <div style="padding: 0;" class="col">
                    {% include "modules/cmd.html" %}
                </div>
            </div>
            <div class="row" style="height:40%">
                {% include "modules/line_interface.html" %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/level_executor.js' %}"></script>


<!-- JSON des informations sur le niveau présentement sélectionné -->
{{ challenge.specific_challenge.level|json_script:"leveldata" }}
<script>
    const url = "{% url 'home:save_challenge' challengeId=challenge.id %}"
    const creator = {{ creator }}
    $('#liste-acces').val("{{challenge.access}}")
</script>