{% load static %}
{% include "base.html" %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/deleteQuiz.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">

<div id="delete-box" class="container">
    <div id="delete-box-header">
        <p class="title is-4">Êtes-vous sûr de vouloir supprimer le questionnaire "{{item.name}}"?</p>
    </div>
    <div id="delete-box-body">
        <form action="{{item.id}}" method="POST">
            {% csrf_token %}
            <button id="annuler" class="button">Annuler</button>
    
            <button id="confirmer" class="button">Confirmer</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(() => {
        $('#annuler').click(function () {
            window.location.href = '/playground/mes_quiz';
            return false;
        });

    })

</script>