@import './main.css';


#main-div{
    all: unset;
}

.row {
    width: 95%;
    margin: auto;
    margin-top:25px;
    margin-bottom: 0px;
}

#transparent-div-header {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 15px 30px rgb(170, 170, 170);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 25px 25px 0px 25px;
    padding: 20px;
}

#btn-modify {
    background-color: var(--third-color);
    color: white;
    padding: 25px;
}

#btn-modify:hover {
    background-color: var(--contrast-color);
}

#btn-delete {
    padding: 25px;
}



.card {
    margin: 10px auto;
    border-radius: 25px;
    width: 20em;
    height: 20em;
  }
  
  .card-body {
    text-align: center;
    margin: auto;
  }
  
  .card-body span {
    margin-top: 20px;
    font-size: 17px;
    background-color: var(--third-color);
  }
  
  .card-body p{
    margin-bottom: 0px;
  }
  
  .card-body button {
    border-style: none;
    border-radius: 20px;
    margin-top: 15px;
    padding: 0px 50px;
    transition: 0.2s;
  }
  
  .card-body button:hover {
    background-color: var(--contrast-color);
  }
  
  .card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .card-front {
    border-radius: 25px;
    transform: rotateY(0deg);
    background-color: var(--third-color);
  }
  
  .card-front:hover {
    background-color: var(--contrast-color);
  }
  
  .card-back {
    border-radius: 25px;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }

/*Modale pour supprimer un challenge*/

.delete-challenge-modal .modal-header{
    background-color: var(--contrast-color);
    color: white;
}

.delete-challenge-modal .btn {
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    border-style: none;
}

.delete-challenge-modal .btn:hover {
    background-color: var(--contrast-color);
}

.delete-challenge-modal .btn-primary {
    background-color: var(--third-color);
}

.delete-challenge-modal .modal-footer {
    margin: auto;
}


/*Nouveau css*/
#list-levels {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 25px;
}

#list-levels label{
  font-size: 22px;
  margin: auto;
}

@media screen and (max-width : 1238px) {
    .card {
        margin: 10px auto;
      }
}

@media screen and (max-width : 500px) {
    .card {
        margin: 10px auto;
        width: 16em;
      }
}