@import './main.css';
@import './form.css';

body {
    background-image: url('/static/images/backgroundImage3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}