
{% load static %} {% load base %}
<link rel="stylesheet" type="text/css" href="{% static 'css/playground_base.css' %}">

<script src="https://kit.fontawesome.com/a582160e6b.js" crossorigin="anonymous"></script>

<a target="_blank"><img id="logo" onclick="window.open('https://lrima.cmaisonneuve.qc.ca/', '_blank');"
        src="{% static 'images/Voiture.gif' %}" width="100px" alt="alive" class="img-thumbnail"></a>
<img id="logo2" src="{% static 'images/LogoALIVE.png' %}" width="50px" alt="alive" class="img-thumbnail">

<div id="modal-hint" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aide</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHint"
                    aria-expanded="false" aria-controls="collapseHint">
                    Montrer l'indice
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSolution"
                    aria-expanded="false" aria-controls="collapseSolution">
                    Montrer la solution
                </button>
                <div class="collapse" id="collapseHint">
                    <div class="card card-body">
                        <span>{{ challenge.hint|format_breakline }}</span>
                    </div>
                </div>
                <div class="collapse" id="collapseSolution">
                    <div id="solution" class="card card-body">
                        <code>{{ challenge.solution|format_breakline }}</code>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>