{% load static %}
{% include 'base.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index_alive_play.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">

<div id="main-div" class="container" style="max-width: 100%;">
    <div id="buttons" class="row">
        <div>
            <div id="button1" class="menu-button" onclick='location.href="{% url "home:levels" %}"'>
                <div class="padded-button">
                    <div class="logo-button">
                        <div style='background-image: url(" {% static "images/icons/my_levels.png" %} ");'></div>
                    </div>
                    <div class="text-button">
                        <div>Mes niveaux</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="button1" class="menu-button" onclick='location.href="{% url "home:create_level" %}"'>
                <div class="padded-button">
                    <div class="logo-button">
                        <div style='background-image: url(" {% static "images/sandboxblanc.png" %} ");'></div>
                    </div>
                    <div class="text-button">
                        <div>Créer un niveau!</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="button1" class="menu-button" onclick='location.href="{% url "home:public_levels" %}"'>
                <div class="padded-button">
                    <div class="logo-button">
                        <div style='background-image: url(" {% static "images/Voiture.gif" %} ");'></div>
                    </div>
                    <div class=" text-button">
                        <div>Jouer un niveau!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>