{% load static %}
{% include "base.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/mesQuiz.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">

<div class="container is-max-desktop">
    <div id="quiz-list-header" class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="title is-3">Listes des quiz créés</p>
            </div>
            <div id="btn-create-quiz" class="level-item">
                <input value="Créer un nouveau quiz" id="creerQuiz" type="button" class="button is-small is-link"></input>
            </div>
        </div>
    </div>
    <div class="box listequiz">
        {% if listquiz.count > 0 %}
        {%for quiz in listquiz%}
        <div class="card">
            <div class="card-content">
                        <p class="title is-4">{{quiz.name}}</p>
                <div class="content">
                    {% if quiz.questions.count > 1 %}

                    {{quiz.questions.count}} questions

                    {%else%}

                    {{quiz.questions.count}} question

                    {%endif%}
                    <div class="level">
                        <div class="level-left">
                        </div>
                        <div class="level-right">
                            <a href="/playground/update_quiz/{{quiz.id}}">
                                <button id="editQuiz">
                                    <i class="fa fa-pencil fa-2x"></i>
                                </button>
                             </a>
                                <span style="padding:1em"></span>
                            <a href='/playground/delete_quiz/{{quiz.id}}'>
                                <button id="deleteQuiz">
                                    <i class="fa fa-trash fa-2x"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {%endfor%}
       {%else%}
       <p class="title is-4 has-text-centered">Vous n'avez pas créé de quiz.</p>
       {%endif%}
    </div>
</div>

<script>
    $(document).ready(() => {
        $('#creerQuiz').click(function () {
            window.location.href = '/playground/new_quiz';
            return false;
        });
        
    })
</script>