{% load static %}
{% include "base.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<!--
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
-->
<link rel="stylesheet" type="text/css" href="{% static 'css/newQuiz.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">

<div id="nouveauquestionnaire" class="container">
    <div class="contenu-header">
        <h2 class="title is-2 has-text-centered">Nouveau questionnaire</h2>
    </div>
    <div class="contenu">
        <div id="contenu-hint">
            <p class="has-text-centered">
                Entrez le titre de votre nouveau questionnaire
            </p>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.name}}
            {{form.imageQuiz}}
            <button type="submit">Suivant</button>
        </form>
    </div>
</div>
