<style>
    #black-screen {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    
    #trophy {
        position: absolute;
        background-size: cover;
        width: 1.5px;
        height: 1px;
        transition: all 0.7s ease-in;
    }
    
    #button-next {
        position: absolute;
        background-size: cover;
        width: 1px;
        height: 1px;
        transition: all 0.7s ease-in;
    }
    
    .scaled1 {
        transform: scale(150, 150);
    }
    
    .scaled2 {
        transform: scale(150, 150) translateX(15%);
    }
    
    #text {
        position: absolute;
        transition: all 1s ease-in;
        text-align: center;
        width: auto;
        height: auto;
        font-size: 0px;
        color: white;
    }
</style>

<div id="black-screen">
    <img id="trophy" src="/static/images/trophy.png">
    <label id="text">Niveau <i>{{ lvl.name }}</i> complété</label>
    <img id="button-next" src="/static/images/next.png" width="200px">
</div>

{{ next|json_script:"nextdata" }}
<script>
    $(document).ready(() => {
        $('#black-screen').fadeIn(1000, () => {
            $('#black-screen').css('display', 'flex')
            $('#trophy').addClass('scaled1').delay(500).animate({
                top: '130px',
            }, 200, () => {
                $('#text').animate({
                    fontSize: '60px'
                }, 300).delay(500).animate({
                    top: '180px',
                }, 200, () => {
                    $('#button-next').addClass('scaled2').click(() => {
                        let key = JSON.parse(JSON.parse($('#nextdata').text()))[0]['pk']
                        window.location.href = `${window.location.pathname}?lvl=${key}`;
                        /*$.ajax({
                            url: 'blocs', //request path
                            type: 'POST', //method used POST or GET
                            data: {
                                'lvl': JSON.parse(document.getElementById('leveldata').textContent)[0]['id']
                            },
                            headers: {
                                "X-CSRFToken": getCookie('csrftoken')
                            },
                            success: function (result) { // Has to be there !
                                $('body').empty()
                                //$('body').append(result)
                            },
                            error: function (result, statut, error) { // Handle errors
                            }
                        });*/
                    })
                })
            })
        })
    })
</script>