{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/questionEnCours.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title scoreActuel">Score: 0</h1>
        <div id="timer"></div>
    </div>

    {%if '[$espaceBlanc%]' in question.question%}
    <div class="modal-body">
        <div class="content">

            <p class="is-size-4" id="id_question-text">{{question.numero}})</p>
        </div>
        <div class="quiz" id="quiz" data-toggle="buttons">

        </div>
        <div class="has-text-centered">
            <button class="button suivant is-link" id="btnSuivant">Suivant</button>
        </div>
    </div>
    {% else %}
    <div class="modal-body">
        <div class="content">
            <p class="is-size-4" id="id_question-text">{{question.numero}}) {{question.question}}</p>
        </div>
        <div class="quiz" id="quiz" data-toggle="buttons">
            {%for response in question.answers.all%}
            <label id="{{response.correct}}" class="element-animation1 btn btn-primary">
                <span class="btn-label">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </span>
                <input id="{{response.correct}}" type="radio" name="q_answer">
                {{response.text}}
            </label>
            {%endfor%}
        </div>
        <div class="has-text-centered">
            <button class="button suivant is-link" id="btnSuivant">Suivant</button>
        </div>
    </div>
    {% endif %}

    <div class="modal-footer justify-content-start">
        {% for i in questions.all %}
        <div class="" id="{{i.numero}}"></div>
        {% endfor %}
    </div>
</div>
<div class="modal score">
    <div class="modal-background">
        <div class="level">
            <div class="level-item">
                <div class="imgOvni content has-text-centered">
                    <img src="{% static 'images/gifOvni.gif' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-card">
        <header class="modal-card-head has-text-centered has-text-weight-bold">
            <p class="modal-card-title">Résultat du quiz</p>
        </header>
        <section class="modal-card-body has-text-centered">
            <table class="table is-bordered has-text-weight-semibold">
                <tr>
                    <td class="rowTab">Nombre de questions</td>
                    <td>{{questions.count}}</td>
                </tr>
                <tr>
                    <td class="rowTab">Nombre de bonnes réponses</td>
                    <td class="good"></td>
                </tr>
                <tr>
                    <td class="rowTab">Nombre de mauvaises réponses</td>
                    <td class="bad"></td>
                </tr>
                <tr>
                    <td class="rowTab">Score total</td>
                    <td class="finalScore"></td>
                </tr>
            </table>

        </section>
        <footer class="modal-card-foot is-justify-content-center ">
            <div class="buttons is-centered">
                <button id="quitterQuiz" class="button">Quitter le quiz</button>
                <button id="recommencer" class="button">Recommencer</button>
            </div>
        </footer>
    </div>
</div>
<script>
    var question = "{{question.question}}";

    $(".suivant").attr('disabled', 'disabled');
    const FULL_DASH_ARRAY = 283;
    const WARNING_THRESHOLD = 10;
    const ALERT_THRESHOLD = 5;



    $(".imgOvni").hide()
    $(document).ready(() => {
        $('#quitterQuiz').click(function () {
            window.location.href = '/playground/quiz_choices';
            return false;
        });

    })


    $(document).ready(() => {
        $('#recommencer').click(function () {
            window.location.href = '/playground/rep_quiz/{{quiz.id}}';
            return false;
        });

    })
    const COLOR_CODES = {
        info: {
            color: "green"
        },
        warning: {
            color: "orange",
            threshold: WARNING_THRESHOLD
        },
        alert: {
            color: "red",
            threshold: ALERT_THRESHOLD
        }
    };

    let TIME_LIMIT = "{{question.timer}}";
    let timePassed = 0;
    let timeLeft = TIME_LIMIT;
    let timerInterval = null;
    let remainingPathColor = COLOR_CODES.info.color;
    let goodAnswer = 0;
    let badAnswer = 0;
    let score = 0;
    var tabResult = []
    if ("{{question.numero}}" == 1) {
        localStorage.setItem("tabResult", JSON.stringify(tabResult))
        localStorage.setItem("badAnswer", badAnswer)
        localStorage.setItem("goodAnswer", goodAnswer)
        localStorage.setItem("score", score)

    }
    $('.scoreActuel').empty()
    $('.scoreActuel').append("Score: " + localStorage.getItem("score"))

    function nextQuestion() {
        if (question.includes('[$espaceBlanc%]')) {
            verifyBlank();
        }
        if (("{{question.numero}}") == ("{{questions.count}}")) {
            $('.good').html(`${localStorage.getItem("goodAnswer")}`)
            $('.bad').html(`${localStorage.getItem("badAnswer")}`)
            $('.finalScore').html(`${localStorage.getItem("score")}`)
            $("#endQuiz").css('visibility', 'visible')
            $('.modal-content').hide()
            $('.modal-card').hide()
            $(".imgOvni").show()
            setTimeout(function () {
                $('.score').addClass('is-active');
                $(".imgOvni").animate({
                    top: '20px'
                });
                setTimeout(function () {
                    $('.modal-card').show();
                }, 1000);
            }, 1000);
        } else {
            $.ajax({
                url: "/playground/rep_quiz/{{quiz.id}}",
                type: 'GET',
                data: {
                    'questionId': parseInt("{{question.numero}}") + 1
                },

                success: function (result) {

                    console.log("bonne " + goodAnswer)
                    $("#questionEnCours").empty()
                    $("#questionEnCours").append(result)


                    TIME_LIMIT = "{{question.timer}}";
                    timePassed = 0;
                    timeLeft = TIME_LIMIT;
                    timerInterval = null;
                    remainingPathColor = COLOR_CODES.info.color;
                    $("#timer").empty()

                    $("#timer").html(`
<div class="base-timer">
  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class="base-timer__path-remaining ${remainingPathColor}"
        d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
      ></path>
    </g>
  </svg>
  <span id="base-timer-label" class="base-timer__label">${formatTime(
                        timeLeft
                    )}</span>
</div>
`);

                    addBlankQuestion()

                }
            });
        }
    }

    function addBlankQuestion() {
        if (question.includes('[$espaceBlanc%]')) {
            var divquestion = document.getElementById('id_question-text');
            var questionSplit = question.split('[$espaceBlanc%]');

            var questionHtml =
                `{{question.numero}})\n ${questionSplit[0]}  <input id="reponseBlank" type="text" onkeyup="blankbtnSuivant()"/>  ${questionSplit[1]} `

            
            divquestion.innerHTML = questionHtml;
        }
    }

    $('.suivant').on("click", function () {
        nextQuestion()
    })


    const tableau = JSON.parse(localStorage.getItem('tabResult'))
    id = 0
    if (tableau != null) {
        for (var i = 0; i < tableau.length; i++) {
            console.log("aa: " + tableau[i])
            document.getElementById(i + 1).classList.add(tableau[i])
        }
        console.log("iddd: " + id)
    }
    var clicked = false
    $(document).ready(() => {
        $('.element-animation1').one("click", function () {
            if (!clicked) {
                if (this.id == "True") {
                    this.classList.remove("btn-primary")
                    this.classList.add("btn-success")
                    localStorage.setItem('stateDiv', "correct");
                    document.getElementById("{{question.numero}}").classList.add("correct")
                    $('label.btn').css('cursor', 'context-menu')
                    onTimesUp()
                    $('#answer').html("Bonne réponse")
                    $('#answer').css("color", "hsl(141, 53%, 53%)");
                    $("#answer").animate({
                        opacity: '1'
                    }, "slow");
                    goodAnswer = parseInt(localStorage.getItem("goodAnswer")) + 1
                    score = parseInt(localStorage.getItem("score")) + 10
                    localStorage.setItem("goodAnswer", goodAnswer);
                    localStorage.setItem("score", score);
                    const tableau = JSON.parse(localStorage.getItem('tabResult'))
                    if (tableau == null) tableau = [];
                    tableau.push("correct")
                    localStorage.setItem("tabResult", JSON.stringify(tableau));

                    console.log(localStorage)
                }
                if (this.id == "False") {
                    this.classList.remove("btn-primary")
                    this.classList.add("btn-danger")
                    localStorage.setItem('stateDiv', "wrong");
                    document.getElementById("{{question.numero}}").classList.add("wrong")
                    $('label.btn').css('cursor', 'context-menu')
                    onTimesUp()
                    $('#answer').html("Mauvaise réponse")
                    $('#answer').css("color", "hsl(348, 100%, 61%)");
                    $("#answer").animate({
                        right: '250px',
                        opacity: '1'

                    }, "slow");
                    badAnswer = parseInt(localStorage.getItem("badAnswer")) + 1
                    localStorage.setItem("badAnswer", badAnswer);
                    const tableau = JSON.parse(localStorage.getItem('tabResult'))
                    if (tableau == null) tableau = [];
                    tableau.push("wrong")
                    localStorage.setItem("tabResult", JSON.stringify(tableau));
                    console.log(localStorage)
                }
            }
            $(".suivant").removeAttr('disabled');
            $('.scoreActuel').empty()
            $('.scoreActuel').append("Score: " + localStorage.getItem("score"))
            clicked = true
        });

    })

    function blankbtnSuivant() {
        $(".suivant").removeAttr('disabled');
    }

    function verifyBlank() {
        var bonneReponseBlank = "{{question.answers.first.text}}"
        var valReponse = document.getElementById("reponseBlank").value

        if (valReponse == bonneReponseBlank) {

            localStorage.setItem('stateDiv', "correct");
            document.getElementById("{{question.numero}}").classList.add("correct")
            $('label.btn').css('cursor', 'context-menu')
            onTimesUp()
            $('#answer').html("Bonne réponse")
            $('#answer').css("color", "hsl(141, 53%, 53%)");
            $("#answer").animate({
                opacity: '1'
            }, "slow");
            goodAnswer = parseInt(localStorage.getItem("goodAnswer")) + 1
            score = parseInt(localStorage.getItem("score")) + 10
            localStorage.setItem("goodAnswer", goodAnswer);
            localStorage.setItem("score", score);
            const tableau = JSON.parse(localStorage.getItem('tabResult'))
            if (tableau == null) tableau = [];
            tableau.push("correct")
            localStorage.setItem("tabResult", JSON.stringify(tableau));

            console.log(localStorage)
        } else {

            localStorage.setItem('stateDiv', "wrong");
            document.getElementById("{{question.numero}}").classList.add("wrong")
            $('label.btn').css('cursor', 'context-menu')
            onTimesUp()
            $('#answer').html("Mauvaise réponse")
            $('#answer').css("color", "hsl(348, 100%, 61%)");
            $("#answer").animate({
                right: '250px',
                opacity: '1'

            }, "slow");
            badAnswer = parseInt(localStorage.getItem("badAnswer")) + 1
            localStorage.setItem("badAnswer", badAnswer);
            const tableau = JSON.parse(localStorage.getItem('tabResult'))
            if (tableau == null) tableau = [];
            tableau.push("wrong")
            localStorage.setItem("tabResult", JSON.stringify(tableau));
            console.log(localStorage)
        }
        $('.scoreActuel').empty()
        $('.scoreActuel').append("Score: " + localStorage.getItem("score"))
    }


    $("#timer").html(`
<div class="base-timer">
  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
      <path
        id="base-timer-path-remaining"
        stroke-dasharray="283"
        class="base-timer__path-remaining ${remainingPathColor}"
        d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
      ></path>
    </g>
  </svg>
  <span id="base-timer-label" class="base-timer__label">${formatTime(
        timeLeft
    )}</span>
</div>
`);

    startTimer();


    function onTimesUp() {
        clearInterval(timerInterval);
    }

    function startTimer() {
        if (TIME_LIMIT!="None") {
            timerInterval = setInterval(() => {
                timePassed = timePassed += 1;
                timeLeft = TIME_LIMIT - timePassed;
                document.getElementById("base-timer-label").innerHTML = formatTime(
                    timeLeft
                );
                setCircleDasharray();
                setRemainingPathColor(timeLeft);

                if (timeLeft === 0) {
                    onTimesUp();
                    $(".suivant").removeAttr('disabled');
                    clicked = true
                    $('#answer').html("Mauvaise réponse")
                    $('#answer').css("color", "hsl(348, 100%, 61%)");
                    $("#answer").animate({
                        opacity: '1'
                    }, "slow");
                    badAnswer = parseInt(localStorage.getItem("badAnswer")) + 1
                    localStorage.setItem("badAnswer", badAnswer);
                    document.getElementById("{{question.numero}}").classList.add("wrong")
                    const tableau = JSON.parse(localStorage.getItem('tabResult'))
                    if (tableau == null) tableau = [];
                    tableau.push("wrong")
                    localStorage.setItem("tabResult", JSON.stringify(tableau));
                }
            }, 1000);
        } else {
            $('#timer').hide()
        }
    }

    function formatTime(time) {
        const minutes = Math.floor(time / 60);
        let seconds = time % 60;

        if (seconds < 10) {
            seconds = `0${seconds}`;
        }

        return `${minutes}:${seconds}`;
    }

    function setRemainingPathColor(timeLeft) {
        const {
            alert,
            warning,
            info
        } = COLOR_CODES;
        if (timeLeft <= alert.threshold) {
            document
                .getElementById("base-timer-path-remaining")
                .classList.remove(warning.color);
            document
                .getElementById("base-timer-path-remaining")
                .classList.add(alert.color);
        } else if (timeLeft <= warning.threshold) {
            document
                .getElementById("base-timer-path-remaining")
                .classList.remove(info.color);
            document
                .getElementById("base-timer-path-remaining")
                .classList.add(warning.color);
        }
    }

    function calculateTimeFraction() {
        const rawTimeFraction = timeLeft / TIME_LIMIT;
        return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
    }

    function setCircleDasharray() {
        const circleDasharray = `${(
            calculateTimeFraction() * FULL_DASH_ARRAY
        ).toFixed(0)} 283`;
        document
            .getElementById("base-timer-path-remaining")
            .setAttribute("stroke-dasharray", circleDasharray);
    }
</script>