{% include "base.html" %} {% include "playground/base.html" %}

<script>
    $(document).ready(() => {
        hide_play_button()
    })

    function init(s) {
        s.car = s.spawnCar(0, 0, 150, 220)
        s.car.speed = 6
        s.car.rotateSpeed = 3
        s.carController = true
        s.textComponent1 = new TextObject(s, 'salut quoi! comment ça va?', 50, 0, 200)
        s.textComponent1.setBackgroundColor('green')
        s.addObjectToScene(s.textComponent1)
        s.textComponent2 = new TextObject(s, 'ABCDEFGHIjKLMNOPQRSTUVWXYZ', 20, 0, 0)
        s.textComponent2.setImg(gazon)
        s.addObjectToScene(s.textComponent2)
        s.textComponent1.addChild(s.textComponent2)

        s.texture = new TextureObject(s, gazon, 0, 0, 1000, 1000, 1)
        s.texture.onHover(() => {
            console.log("HOVERING")
        })
        s.addObjectToScene(s.texture)
    }
</script>

<style>
    body {
        color: white;
    }
    
    .row div[class^=col] {
        background-color: #2f3028;
    }
</style>
{% load static %}
<div class="row h-100">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="row" id="simulation-row" style="height:100%;">
            {% include "modules/simulation.html" %}
        </div>
    </div>
    <div class="col-3"></div>
</div>