{% load static %}
{% include "base.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<!--
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
-->
<link rel="stylesheet" type="text/css" href="{% static 'css/viewQuiz.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">

<div id="nouveauquestionnaire">
    <div class="level">
        <div class="level-left">
            <button id="btn-finaliser" type="submit">&laquo; Retour à la liste des quiz</button>
        </div>
        <div class="level-item">
            <h1 class="title is-2 has-text-centered color:black;">Quiz: {{quiz.name}}</h1>
        </div>
    </div>
    <div class="notification is-success">
        <button class="delete"></button>
        Question supprimée
    </div>
</div>

<div class="columns">
    <div id="questionsCree" class="column is-5">
        <div class="accordion">
            <div class="container box contentBx">
                <div class="titre">
                    <p class="title is-4">Questions créées</p>
                </div>
                {%if questionsQuiz.count != 0 %}
                <div class="contenu" id="questionTable">
                    {%for question in questionsQuiz %}
                    <div class="container questionItem" id="question-{{question.id}}" style="margin-bottom:10px ;">
                        <div class="card" id="carteQuestion">
                            <div class="card-content">
                                <h1 id="questionText" class="title is-5">
                                    {{question.numero}}) {{question.question}}</h1>
                                <hr style="border: none; height: 1px; background-color: #0178bc;">
                                <table>
                                    <tbody>
                                        {%for answer in question.answers.all%}
                                        <tr>
                                            <td style="text-align: right;"> {{ forloop.counter }}) </td>
                                            <td style="padding-left:1em;">{{answer.text}}<br><br></td>
                                        </tr>
                                        {%endfor%}

                                    </tbody>
                                </table>

                                <br>
                                <container style="justify-content: flex-end;display: flex;">
                                    <a href="/playground/view_quiz/{{question.id}}/update">
                                        <button name="edit" class="modifQuestion">
                                            <i class="fa fa-pencil fa-2x"></i>
                                        </button>
                                    </a>
                                    <button name="delete" class="supprimerQuestion" id="{{question.id}}">
                                        <i class="fa fa-trash fa-2x"></i>
                                    </button>
                                </container>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>

                {% else %}
                <div class="contenu" id="questionTable">
                    Aucune question
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="form-questions-reponses" class="column is-7">
        <div class="form-title">
            <p class="title is-4">Créez une question</p>
        </div>
        <form name="formQuestionnaire" method="POST">
            {% csrf_token %}
            <div class="bx">
                <button type="button" id="btn-TypeFill">Créer une question à espace vide</button>
            </div>
            <div id="questionNormale">
                <fieldset>
                    <legend>
                        <div class="form-subtitle">
                            <span class="number">1</span>
                            <span id="lblAddQuestion" class="title is-5">Ajoutez une question</span>
                        </div>
                        {{question_form.question}}
                        <textarea id="id_questionBlank" name="question1" onkeyup="verifyBlankSpace()"></textarea>

                        <div class="bx">
                            <button type="button" id="addBlank">Ajoutez l'espace blanc</button>
                        </div>
                        <button type="button" class="addTime button is-small">Ajouter une limite de temps</button>
                        <div class="chrono">
                        <p class="subtitle">Temps d'affichage (en secondes)</p>
                        {{question_form.timer}}
                        </div>
                    </legend>
                </fieldset>

                <fieldset>
                    <div class="form-subtitle">
                        <legend><span class="number">2</span>
                            <span class="title is-5">Ajoutez les réponses</span>
                        </legend>
                    </div>
                    <table id="tabReponse" style="width: 100%" ;>

                        <thead>
                            <tr style="text-align: center;">
                                <th><label></label></th>
                                <th><label>Solution(s)</label></th>
                            </tr>
                        </thead>
                        <tbody id="mytbody">
                            {% for form in reponse_form %}
                            <tr>
                                <td>
                                    <label>Réponse {{ forloop.counter }}:</label>
                                    {{form.text}}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    {{form.correct}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <div id="repNormal">
                        </div>
            </div>
            <tfoot>
                <tr>
                    <th>
                        <button type="button" id="addAnswer">Ajouter une
                            réponse</button>
                        <label id="errorMessage"></label>
                    </th>
                </tr>
            </tfoot>

            </table>
            </fieldset>
    </div>

    <button id="btn-enregistrer" class="saveQuestion" type="submit">Enregistrer la question</button>
    </form>
</div>
</div>
<script>
    $("#id_question").attr("placeholder", "Cliquez ici pour ajouter la question")
    var reponses = document.forms['formQuestionnaire'].elements['text']
    var solutions = document.forms['formQuestionnaire'].elements['correct']
    var txtStyle = $("#id_question").attr('style');
    if (reponses != undefined) {
        for (i = 0; i < reponses.length; i++) {
            if (i < 2) {
                reponses[i].required = true
            }
            if (i >= 2) {
                reponses[i].placeholder = "Optionnelle"
                reponses[i].required = false
            }
        }
    }
    $(document).ready(function () {
        $('.saveQuestion').click(function () {
            checked = $("input[type=checkbox]:checked").length;

            if (!checked) {
                alert("Il faut cocher au moins une solution");
                return false;
            }

        });
    });

    function verifyBlankSpace() {
        var txtBlank = document.getElementById("id_questionBlank");
        if (txtBlank.value.includes("[$espaceBlanc%]")){
            document.getElementById("addBlank").style.display = "none";
        }
        else{
            document.getElementById("addBlank").style.display = "block"
            var html = `<label>Réponse de l'espace blanc:</label>`
            if (document.getElementById("repNormal").innerHTML.includes(html)){
                $("#repNormal").empty();
            }
        }
        
    }

    const accordion = document.getElementsByClassName('contentBx');
    for (i = 0; i < accordion.length; i++) {
        accordion[i].addEventListener('click', function () {
            this.classList.toggle('active')
        })
    }
    $(document).ready(() => {
        $('#btn-finaliser').click(function () {
            window.location.href = '/playground/mes_quiz';
            return false;
        });

    })
    var questionNormale = document.getElementById("questionNormale");
    var btnChangeQuestion = document.getElementById("btn-TypeFill");
    $(document).ready(() => {
        var rows = document.getElementById("mytbody").getElementsByTagName("tr")
        var rowCount = rows.length;
        for (var i = 0; i < rowCount; i++) {
            if (i > 3 && rows[i].getElementsByClassName("input[type=text]").value == undefined) {
                rows[i].hidden = true
            }
        }
        console.log(rowCount)
        var rowCount = document.getElementById("mytbody").getElementsByTagName("tr").length + 1;

        $('#addAnswer').click(function () {
            for (var i = 1; i < rowCount; i++) {
                if (rows[i].hidden) {
                    rows[i].removeAttribute("hidden");
                    if (i == rowCount - 2) {
                        $('#addAnswer').hide();
                        $("#errorMessage").html(
                            "Vous avez atteint le nombre maximal de réponses possible")
                    }
                    break;
                }
            }
        });
        $(".chrono").hide()
    $('.addTime').click(function () {
        if($(".chrono").is(":hidden"))
        {
            $(".addTime").html("Retirer la limite de temps")
            $(".chrono").show()
        }
        else {
            $(".addTime").html("Ajouter une limite de temps")
            $(".chrono").hide()
        }
        });
    
        $('#addBlank').click(function () {

            document.getElementById("id_questionBlank").value = document.getElementById(
                "id_questionBlank").value + ('[$espaceBlanc%]');
            var html = `<tr id=trBlank>
                                    <td>
                                        <label>Réponse de l'espace blanc:</label>
                                        <input type="text" name="0-text" maxlength="255" id="id_blank-text">
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;" >
                                        <input type="checkbox" checked="true" name="0-correct" id="id_blank-correct" style="visibility: hidden;">
                                    </td>
                                </tr>`
            document.getElementById("repNormal").insertAdjacentHTML('beforeend', html);
            $('#addAnswer').hide();
            document.getElementById("addBlank").style.display = "none";
        });

        $('#btn-TypeFill').click(function () {

            if (btnChangeQuestion.textContent == "Créer une question régulière") {
                document.getElementById("lblAddQuestion").innerHTML = 'Ajoutez une question';
                btnChangeQuestion.textContent = "Créer une question à espace vide"
                document.getElementById("addBlank").style.display = "none";
                document.getElementById("id_questionBlank").style.display = "none";
                document.getElementById("id_question").style.display = "block";
                $("#id_question").attr('name', 'question');
                $("#id_questionBlank").attr('name', 'question1');
                $("#id_question").attr('required');
                document.getElementById("addAnswer").style.display = "block";
                document.getElementById("repNormal").style.display = "block";
                document.getElementById("mytbody").style.display = "block";
                document.getElementById("repNormal").style.display = "none";
                document.getElementById("id_blank-text").removeAttribute("name");
                document.getElementById("id_0-text").attr("name", "0-text");



            } else {
                if (confirm("Voulez vouz créer une question à espace vide?")) {


                    document.getElementById("lblAddQuestion").innerHTML = 'Ajoutez un texte';
                    if (document.getElementById("id_questionBlank").value.indexOf("[$espaceBlanc%]") ==
                        -
                        1) {
                        document.getElementById("addBlank").style.display = "block";
                    }
                    btnChangeQuestion.style.display = "none";
                    //btnChangeQuestion.textContent = "Créer une question régulière"
                    document.getElementById("id_questionBlank").style.display = "block";
                    document.getElementById("id_question").style.display = "none";
                    $("#id_questionBlank").attr('style', txtStyle)
                    $("#id_questionBlank").attr("placeholder", "Cliquez ici pour écrire le texte")
                    $("#id_question").attr('name', 'question1');
                    $("#id_questionBlank").attr('name', 'question');
                    $("#id_question").removeAttr('required');
                    document.getElementById("addAnswer").style.display = "none";
                    document.getElementById("repNormal").style.display = "none";
                    document.getElementById("mytbody").style.display = "none";
                    document.getElementById("repNormal").style.display = "block";
                    document.getElementById("id_0-text").removeAttribute("name");
                    document.getElementById("id_blank-text").attr("name", "0-text");
                }




            }
        });
    })

    $('.supprimerQuestion').click(function () {
        idQuestion = this.id
        var action = confirm("Êtes-vous sûr de vouloir supprimer cette question?");
        if (action != false) {
            $.ajax({
                url: '/playground/view_quiz/delete',
                data: {
                    'id': idQuestion,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        $("#questionTable #question-" + idQuestion).remove();
                    }
                }
            });
        }
    })

    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>