{% include "playground/base.html" with challenge=challenge_progression.challenge %} {% load static %} {% load learning %}

<div id='main-div' class="container-fluid" style="position: relative; max-width: 100%;">
    <div class="row h-100">
        <div class="col-6" style="resize: both; padding:0; display: flex; flex-flow: column;">
            <div style="flex: 0 1 70px; background-color: #013677; border-style: none;">
                <div id="go-back-button" class="btn btn-primary" onclick="location.href=`blocs`">
                    Programmation en blocs
                </div>
                <button type="button" id="btn-book" class="btn" data-toggle="modal" data-target="#modal">
                    <i class="fas fa-book-open fa-2x" style="color: white;"></i>
                </button>
                <button type="button" id="btn-hint" class="btn" data-toggle="modal" data-target="#modal-hint">
                    <i class="fas fa-question-circle fa-2x" style="color: white;"></i>
                </button>
                <label id="label-challenge-name"
                    style="color:white; margin-left: 5px;">{{challenge_progression.challenge.name}}</label>
            </div>
            {% include "modules/line_interface.html" %}
        </div>
        <div class="col-6" style="resize: both">
            <div class="row" id="simulation-row" style="height:60%;">
                {% include "modules/simulation.html" %}
            </div>
            <div class="row" style="height:40%">
                <div style="padding: 0;" class="col">
                    {% include "modules/cmd.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/level_executor.js' %}"></script>

<!-- JSON des informations sur le niveau présentement sélectionné -->

{{ challenge_progression.challenge.specific_challenge.level|json_script:"leveldata" }}

<script id="destination-url" type="application/json">
"{% url 'home:save_code' id=activity.section.course.id sectionName=activity.section.name activityName=activity.name challengeId=challenge_progression.challenge.id %}"
</script>

<script>
    const progression = true
    $(document).ready(() => {
        editor.setValue('{{ challenge_progression.alive_challenge_progression.code|escapejs }}')
        let code = editor.getValue();
        setInterval(() => {
            if (code == editor.getValue()) return;
            else code = editor.getValue();
            
            $.ajax({
                type: "POST",
                url: JSON.parse($('#destination-url').text()),
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'code': editor.getValue(),
                },
                success: (data) => { }
            });
            //console.log(editor.getValue())
        }, 2_000)
    })
</script>