<style>
    #blocs-interface-parent {
        flex: 1 1 auto;
        border: 1px solid #202020
    }

    #blocs-interface {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
</style>

<div id="blocs-interface-parent" class>
    <div id="blocs-interface">
    </div>
</div>

{% load static %}
<script src="{% static 'libraries/p5.js' %}"></script>
<script src="{% static 'js/blocs/bloc_interface.js' %}"></script>
<script src="{% static 'js/blocs/bloc_interface_loader.js' %}"></script>
<script src="{% static 'js/play_socket.js' %}"></script>