{% include "base.html" %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/a_propos.css' %}">

<div id='main-div' class="container-fluid">
    <div id="div-header" class="container-fluid">
        <h1 id="title-page">À propos de nous</h1>
    </div>
    <div id="div-container" class="container-fluid">
        <div class="row row-prof">
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Jihene.jpg" alt="">
                </a>
                <div class="name">
                    <h3>Dre. Jihene Rezgui directrice de LRIMa</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Enric.jpg">
                </a>
                <div class="name">
                    <h3>Enric Soldevila</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Mathis.jpg">
                </a>
                <div class="name">
                    <h3>Mathis Laroche</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Zarine.jpg">
                </a>
                <div class="name">
                    <h3>Zarine Ardekani</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Felix.JPG">
                </a>
                <div class="name">
                    <h3>Félix Jobin</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Pablo.jpg">
                </a>
                <div class="name">
                    <h3>Pablo Cabale</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img id="brian" src="/static/images/createurs/Brian.jpg">
                </a>
                <div class="name">
                    <h3>Brian-José Mejia-Rivera</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/simulation/obstacles/water.jpg">
                </a>
                <div class="name">
                    <h3>Younes Kechout</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Hamza.jpg">
                </a>
                <div class="name">
                    <h3>Hamza Bellahsen</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Eloi.jpg">
                </a>
                <div class="name">
                    <h3>Eloi Vincent-Legare</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Gabriel.jpg">
                </a>
                <div class="name">
                    <h3>Gabriel Landry</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Simon.jpg">
                </a>
                <div class="name">
                    <h3>Simon Beaulieu</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Guillaume.jpg">
                </a>
                <div class="name">
                    <h3>Guillaume Blain</h3>
                </div>
            </div>
            <div id="person" class="col-lg">
                <a id="photo">
                    <img src="/static/images/createurs/Emile.jpg">
                </a>
                <div class="name">
                    <h3>Émile Gagné</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/confetti.js' %}"></script>

<script>
    $("#brian").click(function () {
        confetti()
    });
</script>