{% include "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login_register.css' %}">


<div id='main-div' class="container-fluid" style="position: relative; max-width: 100%;">
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Inscription</h1>
        <br>
        <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label><br>
            {{form.email}}
        </div>
        <label for="exampleInputPassword1">Nom complet</label>
        <div class="form-row">
            <div class="col">
                {{form.first_name}}
            </div>
            <div class="col">
                {{form.last_name}}
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label><br>
            {{form.password1}}
        </div>
        <br>
        {{form.errors}}
        <button type="submit" id="button-submit" class="btn btn-primary">Inscription</button>
        <br><br>
        <label>Vous avez déjà un compte? <a
                href="{% url 'home:login' %}{% if request.GET.next is not None %}?next={{ request.GET.next }}{% endif %}">Se
                connecter</a></label>
    </form>
</div>

<script>
    $(document).ready(() => {
        let fields = $('input')
        fields.addClass('form-control')
        fields.attr('required')
        fields[1].placeholder = "Email"
        fields.eq(1).attr('autocomplete', "email")
        fields[2].placeholder = "Name"
        fields.eq(2).attr('autocomplete', "given-name")
        fields[3].placeholder = "Last Name"
        fields.eq(3).attr('autocomplete', "family-name")
        fields[4].placeholder = "Password"
    })
</script>