{% load static %}
{% load profile %}
<link rel="stylesheet" type="text/css" href="{% static 'css/challenge.css' %}" />

<div id='challenge{{challenge.id}}' class="card card-flip">
    <div class="card-front text-white">
        <div class="card-body">
            <h3>{{challenge.name}}</h3>
        </div>
    </div>
    <div class="card-back">
        <div class="card-body">
            <button type="button" id="btn-modify" ­­ class="btn"
                onclick='location.href="{% url "home:enter_challenge" challengeId=challenge.id %}"'>
                <i class="fas fa-play fa-4x"></i>
            </button>
            <button type="button" id="btn-delete" class="btn btn-danger" data-toggle="modal"
                data-target="#delete-modal{{challenge.id}}">
                <i class="fas fa-trash-alt fa-4x"></i>
            </button>
        </div>
    </div>
</div>






<div class="modal fade delete-challenge-modal" id="delete-modal{{challenge.id}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center" id="exampleModalLabel">Êtes-vous sûr de vouloir supprimer le
                    niveau?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                <button type="button" id="delete-level-button{{challenge.id}}" class="btn btn-danger new-section"
                    data-dismiss="modal">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<script>
    deleteButton = $('#delete-level-button{{challenge.id}}')
    deleteButton.click(() => {
        $.ajax({
            type: "POST",
            url: "{% url 'home:delete_challenge' challengeId=challenge.id %}",
            data: {
                'csrfmiddlewaretoken': csrftoken,
            },
            success: (data) => {
                window.location.reload()
            }
        });
    })
</script>