<style>
    #cmd {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #001b3d;
        color: #dbdbdb;
        padding: 5px;
        overflow-y: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }
    #cmd pre {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        color: #dbdbdb;
        line-height: 2rem;
    }
    #cmd a {
        cursor: pointer;
    }
</style>


<div id="cmd">
    <pre id="cmd-content"></pre>
</div>

{% load static %}
<script src="{% static 'js/cmd/cmd.js' %}"></script>

{% comment %}
<script>
    var cmd = $('#cmd')

    function print_console(msg) {
        let today = new Date()
        let heures = today.getHours() >= 10 ? today.getHours() : '0' + today.getHours()
        let minutes = today.getMinutes() >= 10 ? today.getMinutes() : '0' + today.getMinutes()
        let secondes = today.getSeconds() >= 10 ? today.getSeconds() : '0' + today.getSeconds()
        msg = msg.replace(/</g, '&lt;').replace(/>/g, '&gt;')
        cmd.append(`<span><u><i>${heures}:${minutes}:${secondes}:</i></u> ${msg}</span><br>`)
        cmd[0].scrollTop = cmd[0].scrollHeight
    }

    function print_error(msg, line) {
        let today = new Date()
        let heures = today.getHours() >= 10 ? today.getHours() : '0' + today.getHours()
        let minutes = today.getMinutes() >= 10 ? today.getMinutes() : '0' + today.getMinutes()
        let secondes = today.getSeconds() >= 10 ? today.getSeconds() : '0' + today.getSeconds()
        msg = msg.replace(/</g, '&lt;').replace(/>/g, '&gt;')
        cmd.append(`<span style="color: red"><u><i>${heures}:${minutes}:${secondes}:</i></u> Erreur à la ligne <strong>#${line} :<br></strong><i>"${msg}"</i></span><br>`)
        cmd[0].scrollTop = cmd[0].scrollHeight
    }

    function clear_cmd() {
        cmd.text('')
    }
</script>

{% endcomment %}