
{% load static %}
{% load profile %}

<div class="card card-flip">
    <div class="card-front text-white">
        <div class="card-body">
            <h4 style="margin-bottom: 0;">{{ course.name }}</h4>
            {% if course.difficulty == "1" or course.difficulty == "2" %}
            <span class="badge badge-success" style="background-color: green;">{{ course.get_difficulty_display }}</span>
            {% elif course.difficulty == "3" or course.difficulty == "4" %}
            <span class="badge badge-warning" style="background-color: rgb(255, 183, 0);">{{ course.get_difficulty_display }}</span>
            {% elif course.difficulty == "5" or course.difficulty == "6" %}
            <span class="badge badge-danger" style="background-color: rgb(211, 0, 0);">{{ course.get_difficulty_display }}</span>
            {% endif %}
            <br>
            <br>
          <i class="fas fa-angle-right fa-5x"></i>
        </div>
    </div>
    <div class="card-back">
        <div class="card-body">
            {% if user|isStudent %}
            <h6 class="card-subtitle mb-2 text-muted">Cours de {{ course.creator.first_name }} {{ course.creator.last_name }}</h6>
            {% endif %}
            <span class="card-subtitle badge badge-primary">Sujet</span>
                <p>
                    {{ course.get_subject_display }}
                </p>
            <span class="card-subtitle badge badge-primary">Description</span>
            <p class="card-text">
                {% if course.description != "" %}
                {{ course.description }}
                {% else %}
                Classe de {{course.get_subject_display}}
                {% endif %}
            </p>
            <button id="btn-details" class="badge badge-primary" onclick="location.href=`{% url 'home:enter_course' id=course.id %}`"><i class="fas fa-angle-right fa-4x"></i></button>
        </div>
    </div>
  </div>