{% load static %}
{% load profile %}
<link rel="stylesheet" type="text/css" href="{% static 'css/level.css' %}" />

<div class="card card-flip">
    <div class="card-front text-white">
        <div class="card-body">
            <h3>{{level.name}}</h3>
            <h5>Créateur: {{level.creator.get_display_name }}</h5>
        </div>
    </div>
    <div class="card-back">
        <div class="card-body">
            <button type="button" id="btn-modify" ­­ class="btn"
                onclick='location.href="{% url "home:enter_level" levelId=level.id %}"'>
                <i class="fas fa-play fa-4x"></i>
            </button>
        </div>
    </div>
</div>