{% include "base.html" %}
{% load static %}
{% load profile %}
{% load learning %}

<link rel="stylesheet" type="text/css" href="{% static 'css/course.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/maisonneuve_background.css' %}">
<script type="text/javascript" src="{% static 'js/course.js' %}"></script>

<div id="main-div" class="container-fluid" style="position: relative; max-width: 100%;">
    <div class="row h-100">

        <div id="sections-container" class="container col-2">
            <div id="course-title" class="container-fluid">
                <h3 class="title">{{ course.name }}
                </h3>
            </div>
            <div id="section-bloc">
                {% for section in course.section_set.all %}

                <div class="container w-100 section-folder">
                    <div class="container w-100 section-tab">
                        <p>
                            {{ section.name }}
                            <button id="add-activity"type="button" class="btn">
                                <i class="fas fa-plus fa-lg"></i>
                            </button>
                        </p>
                    </div>
                    {% for activity in section|get_activities %}
                    <div href="{% url 'home:enter_activity' id=course.id sectionName=section.name activityName=activity.name %}"
                        class="container w-100 activity-tab">
                        <p>
                            {{ activity.name }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="section-footer">
                    <button id="btn-nouvelle-section" data-toggle="modal" data-target="#new-section-modal" style="color: white;" class="btn-info">
                        Nouvelle section
                    </button>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div id="activity-container" class="container-fluid">
            </div>
        </div>
        <div style="right: 0; position: absolute;">
            <div class="container-fluid">
                <button data-toggle="modal" data-target="#invite-modal" style="color: white;" class="btn-info">
                    Infos
                </button>

                {% if user|is:course.creator %}
                <button onclick="window.location=`{% url 'home:edit_course' id=course.id %}`" style="color: white;"
                    class="btn-info">
                    Publier
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="new-section-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center" id="exampleModalLabel">Infos sur ce cours</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="badge">Nom de la section </span>
                <input type="text" id="input-section-name" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                <button type="button" id="add-section-button" class="btn btn-primary new-section" data-dismiss="modal">Ajouter</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="invite-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center" id="exampleModalLabel">Infos sur ce cours</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="badge">Créateur </span> {{ course.creator.first_name }} {{ course.creator.last_name }}</p>
                <p><span class="badge">Code</span> {{ course.code }}</p>
                <p><span class="badge">Sujet</span> {{ course.get_subject_display }}</p>
                <p><span class="badge">Difficulté</span> {{ course.get_difficulty_display }}</p>
                <p><span class="badge">Accès</span> {{ course.get_access_display }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                  C'est compris!
                </button>
              </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#add-section-button").click(() => {
            var sectionName = $("#input-section-name").val();

            const data = {'csrfmiddlewaretoken': csrftoken}
            const url = "{% url 'home:edit_course' id=course.id %}" + `/${sectionName}`
            $.ajax({
                type: "POST",
                url,
                data,
                success : function(data) {}
            });
        });
    });

    $(".section-folder").click(function (e) {
        $(this).find(".activity-tab").toggleClass("show");
    });

    $(".activity-tab").click(function (e) {
        e.stopPropagation();
    });
</script>