# the url on which the alivescript server will be listening
AS_URL=localhost
# port on on which the alivescript server will be listening
SERVER_PORT=8001
# the path on the url: AS_URL/PATH/ (ex: alivescript/compile/) (the / are added automatically)
COMPILE_PATH=alivescript/compile
LINT_INFO_PATH=alivescript/lintinfo

# the port of the host making request to the server
HOST_PORT=3000
# the url from which the host will make the request (it will be assemble with the allowed port automatically: CORS_ORIGIN:HOST_PORT)
CORS_ORIGIN=http://localhost

MAX_BACKLOG=3
MAX_DATA_BEFORE_SEND=100


LOG_FILE_NAME="ASapi.log"
THREAD_POOLS=10
# time (in seconds) after which the session will automatically be destroyed if it was not updated
SESSION_LIFESPAN=120
