{% include "base.html" %}
{% load static %}

<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 300,
    });
</script>
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
{%comment%}
<link rel="stylesheet" href="https://gehirnstolz.ch/ihover/">
{% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="{% static 'css/fonctionnement/fonctionnement.css' %}">

<script src="{% static 'libraries/animejs/anime.min.js' %}"></script>
<script src="{% static 'libraries/waypointjs/jquery.waypoints.min.js' %}"></script>

<div class="row">
    <div id="page-title" class="overlay">
        <h1 class="title-text">
            FONCTIONNEMENT DE ALIVE MIND CONTROLLER
        </h1>
    </div>
</div>

<div id="accordion-list" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Fonctionnement du circuit AMC
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel"
                        aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="row panel-body-row justify-content-center">
                                <div class="col-lg-10">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/Explication.jpg' %}">
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body-row">
                                <div class="col-lg-12">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem,
                                        dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu
                                        tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit
                                        posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque
                                        at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                                        ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam
                                        vitae. Curabitur molestie eros. </p>
                                </div>
                            </div>
                            <div class="row panel-body-row">
                                <div class="col-lg-12 big-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/11.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/10.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/8.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/9.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-12 big-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/7.jpg' %}" class="last-image">
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body-row">
                                <div class="col-lg-12 panel-body-subtitle">
                                    <h2 class="title is-2">Schémas</h2>
                                </div>
                            </div>
                            <div class="row panel-body-row">
                                <div class="col-lg-12 big-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/schema.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/6.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/5.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/13.jpg' %}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Fonctionnement du casque ALIVE
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="row panel-body-row">
                                <div class="col-lg-12 big-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/casque.png' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/3.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/4.jpg' %}">
                                    </a>
                                </div>
                                <div class="col-lg-4 small-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/amc/1.jpg' %}">
                                    </a>
                                </div>
                            </div>
                            <div class="row panel-body-row">
                                <div class="col-lg-12">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem,
                                        dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu
                                        tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit
                                        posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque
                                        at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                                        ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam
                                        vitae. Curabitur molestie eros. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Fonctionnement du EEG
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="row panel-body-row">
                                <div class="col-lg-12 big-image">
                                    <a class="show-image">
                                        <img src="{% static 'images/moduleEEG.png' %}">
                                    </a>
                                </div>
                                <div class="col-lg-12">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem,
                                        dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu
                                        tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit
                                        posuere tortor aliquam vitae. Curabitur molestie eros.Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque
                                        at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum
                                        ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam
                                        vitae. Curabitur molestie eros. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- END COL -->
    </div>
    <!--- END ROW -->
</div>


<div id="animation-container" class="container">
    <div id="animation-header">
        <div class="row">
            <div class="col-lg">
                <h2 class="title is-2">Gallerie d'images</h2>
            </div>
        </div>
    </div>
    <div id="animation-body">
        <div class="row">
            <section class="col-md-12">
                <div class="box box-small">
                    <div class="box-inside voiture">
                        <a class="show-image">
                            <img src="{% static 'images/second-portfolio-big.jpg' %}">
                        </a>
                    </div>
                </div>
                <div id="box-third" class="box box-small">
                    <div class="box-inside third">
                        <a class="show-image">
                            <img src="{% static 'images/third-portfolio-big.png' %}">
                        </a>
                    </div>
                </div>
                <div id="box-arduino" class="box box-small">
                    <div class="box-inside arduino">
                        <a href="#parallax3-header">
                            <img src="{% static 'images/arduinoBleu.png' %}">
                        </a>
                    </div>
                </div>
                <div id="box-eeg" class="box box-small">
                    <div class="box-inside eeg">
                        <a href="#parallax2-header">
                            <img src="{% static 'images/moduleEEG.png' %}">
                        </a>
                    </div>
                </div>
                <div class="box box-small">
                    <div class="box-inside casque">
                        <a href="#parallax1-header">
                            <img src="{% static 'images/casque.png' %}">
                        </a>
                    </div>
                </div>
                <div id="box-casque" class="box box-small">
                    <div class="box-inside casque-et-amc">
                        <a class="show-image">
                            <img src="{% static 'images/casque-et-amc.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="box box-big">
                    <div class="box-inside amc-details">
                        <a class="show-image">
                            <img src="{% static 'images/amc-details.png' %}">
                        </a>
                    </div>
                </div>
                <div class="box box-big">
                    <div class="box-inside utilisateur-amc1">
                        <a class="show-image">
                            <img src="{% static 'images/utilisateur-amc1.jpg' %}">
                        </a>
                    </div>
                </div>
                <div class="box box-big">
                    <div class="box-inside utilisateur-amc2">
                        <a class="show-image">
                            <img src="{% static 'images/utilisateur-amc2.jpg' %}">
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% comment %}
<div id="fonctionnement">
    <div class="menu2">
        <nav class="breadcrumb navbar is-fixed-top is-centered">
            <ul>
                <li><a href="#parallax1-header">Casque</a></li>
                <li><a href="#parallax2-header">Module EEG</a></li>
                <li><a href="#parallax3-header">AMC</a></li>
            </ul>
        </nav>
    </div>


    <div class="container-fluid" data-aos="fade-down">
        <div id="parallax1-header" class="parallax-container-header">
            <h2 class="title is-2">Le casque Alive</h2>
        </div>
        <div id="parallax1" class="row parallax-container">
            <div class="col-lg img-column">
                <img src="{% static 'images/casque.png' %}" id="casque" class="image front">
            </div>
            <div class="col-lg-7 text-column">
                <div data-aos="fade-down">
                    <div>
                        <p>
                            Il s'agit d'un casque qui
                            communique
                            avec la voiture. En fait,
                            lorsqu'une
                            personne le porte, il capte le niveau de concentration de celle-ci et le transmet à
                            l'automobile
                            pour qu'elle avance.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="parallax2-header" class="parallax-container-header">
            <h2 class="title is-2">Module EEG</h2>
        </div>
        <div id="parallax2" class="row parallax-container">
            <div class="col-lg img-column" data-aos="fade-down">
                <img src="{% static 'images/moduleEEG.png' %}" id="circuit" class="image">
            </div>
            <div class="col-lg-7 text-column">
                <div data-aos="fade-down">
                    <p>
                        Il s'agit d'un composant muni de détecteurs qui permettent de détecter l'activité électrique
                        dans le
                        cerveau. En fait,
                        lorsqu'une personne porte le casque, ce module capte les signaux électriques transmis
                        par le cerveau, ce qui nous permet de savoir le niveau de concentration de la personne.
                    </p>
                </div>
            </div>
        </div>

        <div id="parallax3-header" class="parallax-container-header">
            <h2 class="title is-2">AMC</h2>
        </div>
        <div id="parallax3" class="row parallax-container">
            <div class="col-lg img-column">
                <img src="{% static 'images/arduinoBleu.png' %}" id="arduino" class="image" data-aos="fade-down">
            </div>
            <div class="col-lg-7 text-column" data-aos="fade-down">
                <div data-aos="fade-down">
                    <p>
                        Il s'agit d'un circuit qui récupère les informations qui proviennent du module EEG pour les
                        transmettre à la voiture. En fait, lorsque les données sur l'activité du cerveau
                        sont détectées, elles sont récupérée par ce circuit et envoyée à la voiture. Plus la personne
                        est
                        concentrée,
                        plus l'activité cérébrale est forte, donc la voiture roulera plus vite
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endcomment %}


{% include "modules/footer.html" %}

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

<script>

    let offset = '-=200'
    let baseSides = 350
    let baseHeight = 350

    var tl = anime.timeline({
        autoplay: false,
        duration: 600,
        loop: false
    })

    if ($(window).width() + 17 <= 991 && $(window).width() + 17 > 767) {
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)', '.box:nth-child(8)', '.box:nth-child(9)'], translateY: -baseHeight })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)', '.box:nth-child(8)'], translateY: 180 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)'], translateY: 710 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)'], translateY: 1240 })
        tl.add({ targets: ['.box:nth-child(4)', '.box:nth-child(5)'], translateX: baseSides / 1.45 })
        tl.add({ targets: ['.box:nth-child(4)'], translateX: (baseSides / 1.45) * 2 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)'], translateY: 1570 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)'], translateX: baseSides / 1.45 })
        tl.add({ targets: ['.box:nth-child(1)'], translateX: (baseSides / 1.45) * 2 })
    }
    else if ($(window).width() <= 767 && $(window).width() > 414) {
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)', '.box:nth-child(8)', '.box:nth-child(9)'], translateY: -baseHeight })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)', '.box:nth-child(8)'], translateY: 180 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)'], translateY: 710 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)'], translateY: 1240 })
        tl.add({ targets: ['.box:nth-child(4)', '.box:nth-child(5)'], translateX: baseSides / 2.15 })
        tl.add({ targets: ['.box:nth-child(4)'], translateX: (baseSides / 2.15) * 2 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)'], translateY: 1570 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)'], translateX: baseSides / 2.15 })
        tl.add({ targets: ['.box:nth-child(1)'], translateX: (baseSides / 2.15) * 2 })
    }
    else if ($(window).width() <= 414) {
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)', '.box:nth-child(8)', '.box:nth-child(9)'], translateY: -baseHeight })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)', '.box:nth-child(8)'], translateY: 180 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)'], translateY: 710 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)'], translateY: 1240 })
        tl.add({ targets: ['.box:nth-child(4)', '.box:nth-child(5)'], translateX: baseSides / 3 })
        tl.add({ targets: ['.box:nth-child(4)'], translateX: (baseSides / 3) * 2 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)'], translateY: 1570 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)'], translateX: baseSides / 3 })
        tl.add({ targets: ['.box:nth-child(1)'], translateX: (baseSides / 3) * 2 })
    }
    else {
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)', '.box:nth-child(8)', '.box:nth-child(9)'], translateY: -baseHeight })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)', '.box:nth-child(8)'], translateY: 180 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)', '.box:nth-child(7)'], translateY: 710 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)', '.box:nth-child(4)', '.box:nth-child(5)', '.box:nth-child(6)'], translateY: 1240 })
        tl.add({ targets: ['.box:nth-child(4)', '.box:nth-child(5)'], translateX: baseSides })
        tl.add({ targets: ['.box:nth-child(4)'], translateX: baseSides * 2 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)', '.box:nth-child(3)'], translateY: 1570 })
        tl.add({ targets: ['.box:nth-child(1)', '.box:nth-child(2)'], translateX: baseSides })
        tl.add({ targets: ['.box:nth-child(1)'], translateX: baseSides * 2 })
    }


    $(document).ready(function () {

        var waypoint = new Waypoint({
            element: document.getElementById('animation-body'),
            handler: function () {
                $('.box').css('display', 'block')
                tl.play()
            },
            offset: '500%'
        })
    })

    // hover sur les boites animation
    var casqueBox = document.querySelector('.casque');
    var amcBox = document.querySelector('.arduino');
    var eegBox = document.querySelector('.eeg');
    var thirdBox = document.querySelector('.third');
    var voitureBox = document.querySelector('.voiture');
    var casqueAmcBox = document.querySelector('.casque-et-amc');
    var utilisateur1Box = document.querySelector('.utilisateur-amc1');
    var utilisateur2Box = document.querySelector('.utilisateur-amc2');
    var amcDetailsBox = document.querySelector('.amc-details');

    function animateButton(box, scale, duration, elasticity) {
        anime({
            targets: box,
            scale: scale,
            duration: duration,
            elasticity: elasticity
        });
    }

    function enterButton(box) { animateButton(box, 1.1, 300, 400) };
    function leaveButton(box) { animateButton(box, 1.0, 300, 300) };


    casqueBox.addEventListener('mouseenter', function () { enterButton(casqueBox); }, false);
    casqueBox.addEventListener('mouseleave', function () { leaveButton(casqueBox); }, false);

    amcBox.addEventListener('mouseenter', function () { enterButton(amcBox); }, false);
    amcBox.addEventListener('mouseleave', function () { leaveButton(amcBox); }, false);

    eegBox.addEventListener('mouseenter', function () { enterButton(eegBox); }, false);
    eegBox.addEventListener('mouseleave', function () { leaveButton(eegBox); }, false);

    thirdBox.addEventListener('mouseenter', function () { enterButton(thirdBox); }, false);
    thirdBox.addEventListener('mouseleave', function () { leaveButton(thirdBox); }, false);

    voitureBox.addEventListener('mouseenter', function () { enterButton(voitureBox); }, false);
    voitureBox.addEventListener('mouseleave', function () { leaveButton(voitureBox); }, false);

    casqueAmcBox.addEventListener('mouseenter', function () { enterButton(casqueAmcBox); }, false);
    casqueAmcBox.addEventListener('mouseleave', function () { leaveButton(casqueAmcBox); }, false);

    utilisateur1Box.addEventListener('mouseenter', function () { enterButton(utilisateur1Box); }, false);
    utilisateur1Box.addEventListener('mouseleave', function () { leaveButton(utilisateur1Box); }, false);

    utilisateur2Box.addEventListener('mouseenter', function () { enterButton(utilisateur2Box); }, false);
    utilisateur2Box.addEventListener('mouseleave', function () { leaveButton(utilisateur2Box); }, false);

    amcDetailsBox.addEventListener('mouseenter', function () { enterButton(amcDetailsBox); }, false);
    amcDetailsBox.addEventListener('mouseleave', function () { leaveButton(amcDetailsBox); }, false);


    // Resize des boites animations


    $(window).resize(function () {


        let baseResize = 350

        if ($(window).width() <= 1408 && $(window).width() > 1215) {

            tl = anime.timeline({
                duration: 1,
                loop: false
            })

            tl.add({ targets: ['.box:nth-child(5)'], translateX: baseResize })
            tl.add({ targets: '.box:nth-child(4)', translateX: baseResize * 2 })
            tl.add({ targets: '.box:nth-child(2)', translateX: baseResize })
            tl.add({ targets: ['.box:nth-child(1)'], translateX: baseResize * 2 })
        }

        else if ($(window).width() <= 1215 && $(window).width() > 1009) {


            tl = anime.timeline({
                duration: 1,
                loop: false
            })

            tl.add({ targets: ['.box:nth-child(5)'], translateX: baseResize })
            tl.add({ targets: '.box:nth-child(4)', translateX: baseResize * 2 })
            tl.add({ targets: '.box:nth-child(2)', translateX: baseResize })
            tl.add({ targets: ['.box:nth-child(1)'], translateX: baseResize * 2 })
        }

        else if ($(window).width() <= 991 && $(window).width() > 767) {



            tl = anime.timeline({
                duration: 1,
                loop: false
            })


            tl.add({ targets: ['.box:nth-child(5)'], translateX: baseResize / 1.45 })
            tl.add({ targets: '.box:nth-child(4)', translateX: (baseResize / 1.45) * 2 })
            tl.add({ targets: '.box:nth-child(2)', translateX: baseResize / 1.45 })
            tl.add({ targets: ['.box:nth-child(1)'], translateX: (baseResize / 1.45) * 2 })


        }
        else if ($(window).width() <= 767 && $(window).width() > 414) {

            tl = anime.timeline({
                duration: 1,
                loop: false
            })


            tl.add({ targets: ['.box:nth-child(5)'], translateX: baseResize / 2.15 })
            tl.add({ targets: '.box:nth-child(4)', translateX: (baseResize / 2.15) * 2 })
            tl.add({ targets: '.box:nth-child(2)', translateX: baseResize / 2.15 })
            tl.add({ targets: ['.box:nth-child(1)'], translateX: (baseResize / 2.15) * 2 })
        }
        else if ($(window).width() <= 414) {

            tl = anime.timeline({
                duration: 1,
                loop: false
            })


            tl.add({ targets: ['.box:nth-child(5)'], translateX: baseResize / 3 })
            tl.add({ targets: '.box:nth-child(4)', translateX: (baseResize / 3) * 2 })
            tl.add({ targets: '.box:nth-child(2)', translateX: baseResize / 3 })
            tl.add({ targets: ['.box:nth-child(1)'], translateX: (baseResize / 3) * 2 })
        }

    })


    function getScrollbarWidth() {
        return window.innerWidth - document.documentElement.clientWidth;
    }

    // Faire afficher la photo dans une modale
    $(function () {
        $('.show-image').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });

</script>