body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0px 0px 7px var(--third-color);
}

.card:hover .card-header {
  background-color: var(--third-color);
}

.card .card-header{
  border-radius: 15px;
  border-style: none;
  background-color: var(--primary-color);
  color: var(--foreground-color);
  transition: 0.2s;
}

.card span {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 15px;
}

.card .card-body {
  display: none;
  padding-bottom: 0px;
  animation: fade 0.7s;
}

.card .card-body:hover {
  cursor: default;
}

.card .card-body p {
  font-size: 18px;
}

.card .card-body span {
  font-size: 20px;
  background-color: var(--primary-color);
}

.card:hover .card-body span {
  background-color: var(--third-color);
}