body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #0177bc;
  --primary-color-rgb: 1,119,188;
  --secondary-color: #3F9CF3;
  --secondary-color-rgb: 63,156,243;
  --third-color: #04e6d3;
  --third-color-rgb: 0,186,198;
  --fourth-color: #029FCA;
  --fourth-color-rgb:2,159,202;
  --pale-color: #D9F3FF;
  --pale-color-rgb: 217,243,255;
  --contrast-color: #ffb013;
  --contrast-color-rgb: 255,176,19;
  --hover-color: #00cbe6;
}

.card {
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0px 0px 7px var(--third-color);
}

.card:hover .card-header {
  background-color: var(--third-color);
}

.card .card-header{
  border-radius: 15px;
  border-style: none;
  background-color: var(--primary-color);
  color: white;
  transition: 0.2s;
}

.card span {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 15px;
}

.card .card-body {
  display: none;
  padding-bottom: 0px;
  animation: fade 0.7s;
}

.card .card-body:hover {
  cursor: default;
}

.card .card-body p {
  font-size: 18px;
}

.card .card-body span {
  font-size: 20px;
  background-color: var(--primary-color);
}

.card:hover .card-body span {
  background-color: var(--third-color);
}