:root {
  --header-paddings: 10vh;
}

.background {
  width: 100%;
  height: 70vh;
  background-color: rgb(51, 88, 255);
}

#header-text {
  display: flex;
  flex-direction: column;
  padding-top: var(--header-paddings);
  padding-bottom: var(--header-paddings);
  color: black;
}

#title {
  font-size: 70px;
  padding-left: 10vw;
  padding-right: 30vw;
}

#presentation-paragraph {
  padding-left: 10vw;
  padding-right: 50vw;
}