@import './main.css';



.list {
  height: 95%;
  padding: 15px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}

.col-separator {
    border-right: 1px solid var(--secondary-color);;
}


#col-mes-classes {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: -15px 15px 30px -15px rgb(170, 170, 170);
  width: 50%;
}

#col-suivi-activites {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 15px 15px 30px -15px rgb(170, 170, 170);
  width: 50%;
}

#ajouter {
    color: black;
    top: 70px;
    width: 25px;
    height: 25px;
    background-size: cover;
    z-index: 10;
    cursor: pointer;
}

#rejoindre-classe {
    color: black;
    top: 70px;
    width: 25px;
    height: 25px;
    background-size: cover;
    z-index: 10;
    cursor: pointer;
}

/* CSS POUR NOUVEAUX DASHBOARD */


.row-bonjour {
  margin-top: 25px;
}

.row-bonjour h1{
  color: white;
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 25px;
  font-size: 65px;
  display: inline-block;
}

.dashboard-sub-header {
  text-align: center;
  margin: 50px 200px 0px 200px;
}

#add-button {
  background-color: var(--third-color);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 2px 5px;
  transition: 0.2s;
}

#add-button:hover {
  background-color: var(--contrast-color);
}

.dashboard-sub-header h1 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: var(--primary-color);
  color: white;
  margin-bottom: 0px;
  padding: 10px;
}

.mes-classes-body {
  overflow-x: scroll;
  height: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 15px 30px 0px rgb(170, 170, 170);
}

.niveaux-body {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 15px 30px 0px rgb(170, 170, 170);
}

/*Cartes concernant les classes et les cours*/

.card {
  margin: auto;
  border-radius: 25px;
  width: 25em;
  height: 20em;
}

.card-body {
  text-align: center;
  margin: auto;
}

.card-body span {
  margin-top: 20px;
  font-size: 17px;
  background-color: var(--third-color);
}

.card-body p{
  margin-bottom: 0px;
}

.card-body button {
  border-style: none;
  border-radius: 20px;
  margin-top: 15px;
  padding: 0px 50px;
  transition: 0.2s;
}

.card-body button:hover {
  background-color: var(--contrast-color);
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  display: flex;
}

.card-front {
  border-radius: 25px;
  transform: rotateY(0deg);
  background-color: var(--third-color);
}

.card-front:hover {
  background-color: var(--contrast-color);
}

.card-back {
  border-radius: 25px;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip.hoverfront .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip.hoverback .card-back {
  transform: rotateY(0deg);
}

.card-flip.clickfront .card-front {
  transform: rotateY(-180deg);
}

.card-flip.clickback .card-back {
  transform: rotateY(0deg);
}


/* boutons niveaux alive play*/

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.menu-button {
  position: relative;
  background-color: var(--primary-color);
  margin: 15px 25px;
  width: 220px;
  height: 300px;
  vertical-align: center;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 20px;
}

.menu-button:hover {
  transform: rotate(5deg) scale(1.075);
  background-color: var(--third-color);
}

.padded-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60%;
}

.logo-button div {
  position: relative;
  width: 70%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.text-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 35%;
}

.text-button div {
  position: relative;
  font-size: 220%;
  color: white;
  width: 90%;
  text-align: center;
  vertical-align: middle;
}


@media screen and (max-width : 1076px) {
  
  .row-bonjour h1{
    font-size: 45px;
  }

  .card {
    width: 18em;
    height: 20em;
  }
  
  .dashboard-sub-header {
    text-align: center;
    margin: 50px 20px 0px 20px;
  }

  .mes-classes-body {
    height: auto;
  }

  .menu-button {
    margin: 15px 10px;
    width: 200px;
    height: 280px;
  }

}