@import './main.css';


#delete-box {
    text-align: center;
    margin-top: 250px;
}


#delete-box-header {
    background-color: var(--primary-color);
    padding: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#delete-box-header p {
    color: white;
}

#delete-box-body {
    background-color: white;
    box-shadow: 0px 15px 30px rgb(170, 170, 170);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 25px;
}

#annuler {
    color: white;
    background-color: var(--third-color);
}

#annuler:hover {
    background-color: var(--contrast-color);
}

#confirmer {
    color: white;
    background-color: red;
}

#confirmer:hover {
    background-color: var(--contrast-color);
}

.button {
    transition: 0.2s;
    padding: 0px 40px;
    font-size: 25px;
    border-radius: 25px;
}

/* Pour fix un bug dans le navbar */
.navbar-brand {
    min-height: 0px;
}
